<h1>投稿詳細画面</h1>

<p>投稿者名: <%= @question.user.name %></p>
<p>
  <%= image_tag(@question.image) %>
</p>
<p>タイトル: <%= @question.title %></p>
<p>内容: <%= @question.content %></p>

<% if @question.user == current_user %>
  <p><%= link_to '編集', edit_question_path(@question.id) %></p>
  <p><%= link_to '削除', question_path(@question.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %></p>
<% end %>

<br>

<%= link_to "投稿一覧画面にもどる", questions_path %>
