<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-7 mx-auto">
      <h2>Edit <%= resource_name.to_s.humanize %></h2><hr><hr>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :name %><br />
          <%= f.text_field :name, autofocus: true %>
        </div><hr>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div><hr>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div><hr>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div><hr>

        <div class="field">
          <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
          <%= f.password_field :current_password, autocomplete: "current-password" %>
        </div><hr>

        <div class="field">
          <p><%= f.label :icon_image, "アイコン画像" %></p>
          <p><%= f.file_field :icon_image, id: :user_icon_image %></p>
        </div><hr>

        <div class="actions">
          <%= f.submit "編集" %>
        </div>
      <% end %>

      <%= link_to "戻る", :back %>

    </div>
  </div>
</div><hr>
