<p>
  <%= image_tag(@user.icon_image) if @user.icon_image.present? %>
</p>
<h4><%= @user.name %>のページ</h4>
<p>メールアドレス: <%= @user.email %></p>
<p>ユーザー貢献度: <%= @user_points %> points</p>
<p>
  <%= link_to 'ユーザー情報を編集', edit_user_registration_path(@user.id) %>
</p>

<ul >
  <li><%= link_to '投稿した記事', "/users/#{@user.id}" %></li>
  <li><%= link_to '投稿した質問', "/users/#{@user.id}/questions" %></li>
  <li><%= link_to '回答した質問', "/users/#{@user.id}/answers" %></li>
</ul>

<% if @answers != nil %>
  <% @answers.each do |answer| %>
    <div>
      <div>
        <!-- <%= image_tag(@user.icon_image) if @user.icon_image.present? %> -->
      </div>
      <div>
        <div>
          <%= link_to answer.question.user.name, "/users/#{answer.question.user.id}" %>
        </div>
        <%= link_to answer.question.content, "/questions/#{answer.question.id}" %>
      </div>
    </div>
  <% end %>
<% end %>
