<%= form_with(model: [question, answer]) do |form| %>
  <% if answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= answer.errors.count %>件のエラーがあります。</h2>
      <ul>
        <% answer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content, "回答内容" %><br>
    <%= form.text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit "回答する"%>
  </div>
<% end %>

<hr>
