<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-7 mx-auto">
      <h1>お問い合わせ画面</h1><hr><hr>

      <%= form_with(model: @contact, local: true) do |form| %>
        <% if @contact.errors.any? %>
          <div id="error_explanation">
            <h2><%= @contact.errors.count %>件のエラーがあります。</h2>
            <ul>
              <% @contact.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= form.label :name %><br>
          <%= form.text_field :name %>
        </div><hr>

        <div class="field">
          <%= form.label :email %><br>
          <%= form.text_field :email %>
        </div><hr>

        <div class="field">
          <%= form.label :content %><br>
          <%= form.text_area :content, :size=>"45x10" %>
        </div><hr>

        <div class="actions">
          <%= form.submit "送信"%>
        </div><hr>
      <% end %>
      <%= link_to "トップ画面へ戻る", "/" %>
    </div>
  </div>
</div><hr>
