<p>
  <strong>名前:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong>メールアドレス:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>お問い合わせ内容:</strong>
  <%= @contact.content %>
</p>

<%= link_to "編集", edit_contact_path(@contact) %> |
<%= link_to "戻る", contacts_path %>
