<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-7 mx-auto">
      <%= form_with(model: @report, local: true, url: choose_new_or_edit_report) do |form| %>
        <% if @report.errors.any? %>
          <div id="error_explanation">
            <h2><%= @report.errors.count %>件のエラーがあります。</h2>
            <ul>
              <% @report.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field"><hr>
          <%= form.label :title, "タイトル" %><br>
          <%= form.text_field :title %>
        </div><hr>

        <div class="field">
          <%= form.label :relation_words, "関連タグ（カンマ区切り）" %><br>
          <%= text_field_tag 'report[relation_word_list]', @report.relation_word_list.join(','), "data-role" => "tagsinput" %>
        </div><hr>

        <div class="field">
          <%= form.label :content, "質問内容" %><br>
          <%= form.text_field :content %>
        </div><hr>

        <div class="field">
          <p><%= form.label :image, "関連画像" %></p>
          <p><%= form.file_field :image, id: :report_image %></p>
          <%= image_tag(@report.image) if @report.image.present? %>
          <%= form.hidden_field :image_cache %>
        </div><hr>

        <div class="actions">
          <%= form.submit "投稿" %>
        </div>
      <% end %><br>
      <%= link_to "投稿一覧画面にもどる", reports_path %>
    </div>
  </div>
</div><hr>
