<div class="container">
  <%= form_with(model: @report, local: true, url: choose_new_or_edit) do |form| %>
    <% if @report.errors.any? %>
      <div id="error_explanation">
        <h2><%= @report.errors.count %>件のエラーがあります。</h2>
        <ul>
          <% @report.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>
    <div>
      <%= form.label :content %>
      <%= form.text_field :content %>
    </div>
    <div>
      <p><%= form.label :image %></p>
      <p><%= form.file_field :image, id: :@report_image %></p>
      <%= image_tag(@report.image) if @report.image.present? %>
      <%= form.hidden_field :image_cache %>
    </div>
    <%= form.submit "投稿" %>
  <% end %>

  <br>

  <%= link_to "投稿一覧画面にもどる", reports_path %>
</div>
